
@section TitleSection
{
    Book || Home
}
@section MainSection
{
    @{
        Html.RenderPartial("~/Views/Common/_Menu.cshtml");
    }
    <div class="section-slider home-slider full-screen-size box-middle-container">
        <div class="flexslider advanced-slider slider" data-options="animation:fade">
            <ul class="slides">
                <li data-slider-anima="fade-left" class="" data-anima="fade-left" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
                    <div class="section-slide">
                        <div class="bg-cover" style="background-image:url(&#39;../images/service/hd-32.jpg&#39;)">
                        </div>
                        <div class="container">
                            <div class="container-middle">
                                <div class="container-inner text-left">
                                    <div class="row vertical-row">
                                        <div class="col-md-4 col-sm-12">
                                            <h1 class="text-xxl anima fade-left" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.6692279626600361">WELCOME<br>CREATIVE</h1>
                                            <hr class="space s">
                                            <p class="anima text-m fade-left" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.2942252167579906">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                tempor incididunt. Cumque aptent luctusr.
                                            </p>
                                            <hr class="space m">
                                            <button class="btn circle-button anima anima-fade-left fade-left" type="button" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.5808878699084876">Contact us</button><span class="space"></span>
                                        </div>
                                        <div class="col-md-8 anima anima-fade-right hidden-xs fade-right" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.7844895691378857">
                                            <hr class="space">
                                            <img src="../images/service/mk-ipad.png" alt="" draggable="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-slider-anima="fade-left" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="" data-anima="fade-left">
                    <div class="section-slide">
                        <div class="bg-cover" style="background-image:url(&#39;../images/service/hd-32.jpg&#39;)">
                        </div>
                        <div class="container">
                            <div class="container-middle">
                                <div class="container-inner text-left">
                                    <div class="row vertical-row">
                                        <div class="col-md-8 anima anima-fade-right hidden-xs fade-right" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.6892158559687702">
                                            <hr class="space">
                                            <img src="../images/service/mk-iphone.png" alt="" draggable="false">
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <h1 class="text-xxl anima fade-left" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.5981955577125977">STAY<br>TUNED</h1>
                                            <hr class="space s">
                                            <p class="anima text-m fade-left" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.022824420362824283">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                tempor incididunt.
                                            </p>
                                            <hr class="space m">
                                            <button class="btn circle-button anima anima-fade-left fade-left" type="button" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.4498492476557856">Our services</button><span class="space"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li data-slider-anima="fade-left" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;" class="flex-active-slide" data-anima="fade-left">
                    <div class="section-slide">
                        <div class="bg-cover" style="background-image:url(&#39;../images/service/hd-32.jpg&#39;)">
                        </div>
                        <div class="container">
                            <div class="container-middle">
                                <div class="container-inner text-left">
                                    <div class="row vertical-row">
                                        <div class="col-md-4 col-sm-12">
                                            <h1 class="text-xxl anima fade-left" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.43884156185687373">LOOK<br>GOOD</h1>
                                            <hr class="space s">
                                            <p class="anima text-m fade-left" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.14533563836490804">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit
                                                tempor incididunt.
                                            </p>
                                            <hr class="space m">
                                            <button class="btn circle-button anima anima-fade-left fade-left" type="button" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.5279329481781592">Contact us</button><span class="space"></span>
                                        </div>
                                        <div class="col-md-8 anima anima-fade-right hidden-xs fade-right" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;" aid="0.36528313253093514">
                                            <hr class="space">
                                            <img src="../images/service/mk-air.png" alt="" draggable="false">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="flex-active">3</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="http://templates.framework-y.com/elon/demo-main/index-services.html#"></a></li><li class="flex-nav-next"><a class="flex-next" href="http://templates.framework-y.com/elon/demo-main/index-services.html#"></a></li></ul>
        </div>
    </div>
    <div class="section-empty">
        <div class="content">
            <table class="grid-table border-table">
                <tbody>
                    <tr>
                        <td>
                            <div class="advs-box advs-box-top-icon" data-anima="pulse-fast" data-trigger="hover">
                                <i class="im-film-strip icon circle anima"></i>
                                <h3>POST PRODUCTION VIDEO</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat fuga Purus expedita fusce temporibus est odit mi quos. Aliquid semper veritatis dignissimos.
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="advs-box advs-box-top-icon" data-anima="pulse-fast" data-trigger="hover">
                                <i class="im-paint-brush icon circle anima"></i>
                                <h3>GRPAHICS AND WEB DESIGN</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat fuga Purus expedita fusce temporibus est odit mi quos. Aliquid semper veritatis dignissimos.
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="advs-box advs-box-top-icon" data-anima="pulse-fast" data-trigger="hover">
                                <i class="im-camera-2 icon circle anima"></i>
                                <h3>PHOTO MANIUPLATION</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat fuga Purus expedita fusce temporibus est odit mi quos. Aliquid semper veritatis dignissimos.
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="advs-box advs-box-top-icon" data-anima="pulse-fast" data-trigger="hover">
                                <i class="im-business-manwoman icon circle anima"></i>
                                <h3>SUPPORT FOR EXPERTS</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat fuga Purus expedita fusce temporibus est odit mi quos. Aliquid semper veritatis dignissimos.
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="advs-box advs-box-top-icon" data-anima="pulse-fast" data-trigger="hover">
                                <i class="im-keyboard icon circle anima"></i>
                                <h3>WEB DEVELOPMENT</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat fuga Purus expedita fusce temporibus est odit mi quos. Aliquid semper veritatis dignissimos.
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="advs-box advs-box-top-icon" data-anima="pulse-fast" data-trigger="hover">
                                <i class="im-wordpress icon circle anima"></i>
                                <h3>WORDPRESS SERVICE</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat fuga Purus expedita fusce temporibus est odit mi quos. Aliquid semper veritatis dignissimos.
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="advs-box advs-box-top-icon" data-anima="pulse-fast" data-trigger="hover">
                                <i class="im-target-market icon circle anima"></i>
                                <h3>MARKETING AND SEO</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat fuga Purus expedita fusce temporibus est odit mi quos. Aliquid semper veritatis dignissimos.
                                </p>
                            </div>
                        </td>
                        <td>
                            <div class="advs-box advs-box-top-icon" data-anima="pulse-fast" data-trigger="hover">
                                <i class="im-server-2 icon circle anima"></i>
                                <h3>MHOSTING AND DOMAIN</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat fuga Purus expedita fusce temporibus est odit mi quos. Aliquid semper veritatis dignissimos.
                                </p>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="section-empty no-paddings">
        <div class="content">
            <div class="flexslider carousel gallery nav-inner" data-options="minWidth:150,numItems:5,itemMargin:0">

                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides" style="width: 1400%; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
                        <li style="width: 269.8px; float: left; display: block;">
                            <a class="img-box img-scale-up lightbox grayscale row-10" href="../images/service/project-1.jpg" data-lightbox-anima="show-scale">
                                <img src="../images/service/project-1.jpg" alt="" draggable="false" style="max-width: 300px; width: 300px; margin-left: -15px;">
                            </a>
                        </li>
                        <li style="width: 269.8px; float: left; display: block;">
                            <a class="img-box img-scale-up lightbox grayscale row-10" href="../images/service/project-2.jpg" data-lightbox-anima="show-scale">
                                <img src="../images/service/project-2.jpg" alt="" draggable="false" style="max-width: 300px; width: 300px; margin-left: -15px;">
                            </a>
                        </li>
                        <li style="width: 269.8px; float: left; display: block;">
                            <a class="img-box img-scale-up lightbox grayscale row-10" href="../images/service/project-3.jpg" data-lightbox-anima="show-scale">
                                <img src="../images/service/project-3.jpg" alt="" draggable="false" style="max-width: 300px; width: 300px; margin-left: -15px;">
                            </a>
                        </li>
                        <li style="width: 269.8px; float: left; display: block;">
                            <a class="img-box img-scale-up lightbox grayscale row-10" href="../images/service/project-4.jpg" data-lightbox-anima="show-scale">
                                <img src="../images/service/project-4.jpg" alt="" draggable="false" style="max-width: 300px; width: 300px; margin-left: -15px;">
                            </a>
                        </li>
                        <li style="width: 269.8px; float: left; display: block;">
                            <a class="img-box img-scale-up lightbox grayscale row-10" href="../images/service/project-5.jpg" data-lightbox-anima="show-scale">
                                <img src="../images/service/project-5.jpg" alt="" draggable="false" style="max-width: 300px; width: 300px; margin-left: -15px;">
                            </a>
                        </li>
                        <li style="width: 269.8px; float: left; display: block;">
                            <a class="img-box img-scale-up lightbox grayscale row-10" href="../images/service/project-6.jpg" data-lightbox-anima="show-scale">
                                <img src="../images/service/project-6.jpg" alt="" draggable="false" style="max-width: 300px; width: 300px; margin-left: -15px;">
                            </a>
                        </li>
                        <li style="width: 269.8px; float: left; display: block;">
                            <a class="img-box img-scale-up lightbox grayscale row-10" href="../images/service/project-7.jpg" data-lightbox-anima="show-scale">
                                <img src="../images/service/project-7.jpg" alt="" draggable="false" style="max-width: 300px; width: 300px; margin-left: -15px;">
                            </a>
                        </li>
                    </ul>
                </div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li></ol><ul class="flex-direction-nav"><li class="flex-nav-prev"><a class="flex-prev" href="http://templates.framework-y.com/elon/demo-main/index-services.html#"></a></li><li class="flex-nav-next"><a class="flex-next" href="http://templates.framework-y.com/elon/demo-main/index-services.html#"></a></li></ul>
            </div>
        </div>
    </div>
    <div class="section-empty section-item">
        <div class="container content">
            <div class="row">
                <div class="col-md-8">
                    <div class="title-base text-left">
                        <hr>
                        <h2>WHERE WE ARE</h2>
                        <p>We located in London - United Kingdom</p>
                    </div>
                    <hr class="space s">
                    <p>
                        Est illo netus natus. Blanditiis autem, justo sagittis tempora? Eligendi recusandae nisi similique parturient minima eligendi exercitation
                        convallis litora facilisis corrupti? Ante rhoncus praesent augue. Asperiores vitae quod officiis.Cillum voluptas placeat eum praesent! Nisi.
                        Molestias mauris ac varius? Cubilia potenti faucibus risus, maecenas pellentesque,
                        mollitia modi, nostrud senectus, assumenda ipsa incidunt quibusdam ouis.
                        Vel praesentium olutpat numquam incidunt hic et lacus.
                    </p>
                    <hr class="space m">
                    <div class="icon-list text-left">
                        <div class="list-item">
                            <i class="im-map-marker2 text-m"></i>
                            <label>25/A stret AV, New York, United States</label>
                        </div>
                        <div class="list-item">
                            <i class="im-phone-2 text-m"></i>
                            <label>(123) 02-556878533</label>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-4">
                        <div class="google-map circle" data-address="New York, US" data-marker="http://templates.framework-y.com/elon/images/marker-map.png" data-marker-pos-left="20" data-marker-pos-top="15" data-trigger="initialized" data-coords="43.2994285,-74.21793260000004" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);"><div class="gm-style" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;"><div tabindex="0" style="position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: pan-x pan-y;"><div style="z-index: 1; position: absolute; left: 50%; top: 50%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 1; transform: matrix(1, 0, 0, 1, -125, -88);"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;"><div style="width: 256px; height: 256px;"></div></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; z-index: 1; transform: matrix(1, 0, 0, 1, -125, -88);"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: -256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 256px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 256px;"></div></div></div><div style="width: 82px; height: 58px; overflow: hidden; position: absolute; left: -21px; top: -43px; z-index: 15;"><img alt="" src="../images/service/marker-map.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; width: 82px; height: 58px; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; z-index: 1; transform: matrix(1, 0, 0, 1, -125, -88);"><div style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;"><img draggable="false" alt="" src="../images/service/vt" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;"><img draggable="false" alt="" src="../images/service/vt(1)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;"><img draggable="false" alt="" src="../images/service/vt(2)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;"><img draggable="false" alt="" src="../images/service/vt(3)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;"><img draggable="false" alt="" src="../images/service/vt(4)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;"><img draggable="false" alt="" src="../images/service/vt(5)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;"><img draggable="false" alt="" src="../images/service/vt(6)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;"><img draggable="false" alt="" src="../images/service/vt(7)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div style="position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;"><img draggable="false" alt="" src="../images/service/vt(8)" style="width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div></div><div class="gm-style-pbc" style="z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;"><p class="gm-style-pbt"></p></div><div style="z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;"><div style="z-index: 1; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px;"></div><div style="z-index: 4; position: absolute; left: 50%; top: 50%; transform: translate(0px, 0px);"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"><div class="gmnoprint" title="" style="width: 82px; height: 58px; overflow: hidden; position: absolute; opacity: 0.01; cursor: pointer; touch-action: none; left: -21px; top: -43px; z-index: 15;"><img alt="" src="../images/service/marker-map.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; width: 82px; height: 58px; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div></div><iframe frameborder="0" src="../images/service/saved_resource.html" style="z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;"></iframe><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a target="_blank" href="https://maps.google.com/maps?ll=43.303176,-74.224799&amp;z=12&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps" style="position: static; overflow: visible; float: none; display: inline;"><div style="width: 66px; height: 26px; cursor: pointer;"><img alt="" src="../images/service/google4.png" draggable="false" style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></div></a></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 30px; top: 85px;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Map data ©2018 Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img alt="" src="../images/service/mapcnt6.png" draggable="false" style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 173px; bottom: 0px; width: 125px;"><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; display: none;">Map Data</a><span>Map data ©2018 Google</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data ©2018 Google</div></div><div class="gmnoprint gm-style-cc" draggable="false" style="z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 99px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank" style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);">Terms of Use</a></div></div><button draggable="false" title="Toggle fullscreen view" aria-label="Toggle fullscreen view" type="button" style="background: none; border: 0px; margin: 10px 14px; padding: 0px; position: absolute; cursor: pointer; user-select: none; width: 25px; height: 25px; overflow: hidden; top: 0px; right: 0px;"><img alt="" src="../images/service/sv9.png" draggable="false" class="gm-fullscreen-control" style="position: absolute; left: -52px; top: -86px; width: 164px; height: 175px; user-select: none; border: 0px; padding: 0px; margin: 0px;"></button><div draggable="false" class="gm-style-cc" style="user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_blank" rel="noopener" title="Report errors in the road map or imagery to Google" href="https://www.google.com/maps/@43.3031763,-74.2247991,12z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" style="font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;">Report a map error</a></div></div><div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" draggable="false" controlwidth="28" controlheight="93" style="margin: 10px; user-select: none; position: absolute; bottom: 107px; right: 28px;"><div class="gmnoprint" controlwidth="28" controlheight="55" style="position: absolute; left: 0px; top: 38px;"><div draggable="false" style="user-select: none; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 28px; height: 55px;"><button draggable="false" title="Zoom in" aria-label="Zoom in" type="button" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 28px; height: 27px; top: 0px; left: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img alt="" src="../images/service/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: 0px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></button><div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; background-color: rgb(230, 230, 230); top: 0px;"></div><button draggable="false" title="Zoom out" aria-label="Zoom out" type="button" style="background: none; display: block; border: 0px; margin: 0px; padding: 0px; position: relative; cursor: pointer; user-select: none; width: 28px; height: 27px; top: 0px; left: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img alt="" src="../images/service/tmapctrl.png" draggable="false" style="position: absolute; left: 0px; top: -15px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;"></div></button></div></div><div class="gm-svpc" controlwidth="28" controlheight="28" style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; width: 28px; height: 28px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; touch-action: none; position: absolute; left: 0px; top: 0px;"><div style="position: absolute; left: 1px; top: 1px;"></div><div style="position: absolute; left: 1px; top: 1px;"><div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px;"><img alt="" src="../images/service/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -26px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div aria-label="Pegman is on top of the Map" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img alt="" src="../images/service/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -52px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div aria-label="Street View Pegman Control" style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;"><img alt="" src="../images/service/cb_scout5.png" draggable="false" style="position: absolute; left: -147px; top: -78px; width: 215px; height: 835px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div><div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;"><div title="Rotate map 90 degrees" style="width: 28px; height: 28px; overflow: hidden; position: absolute; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; cursor: pointer; display: none;"><img alt="" src="../images/service/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div><div class="gm-tilt" style="width: 28px; height: 28px; overflow: hidden; position: absolute; background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; border-radius: 2px; top: 0px; cursor: pointer;"><img alt="" src="../images/service/tmapctrl4.png" draggable="false" style="position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;"></div></div></div><div class="gmnoprint" style="margin: 10px; z-index: 0; position: absolute; cursor: pointer; left: 0px; top: 0px;"><div class="gm-style-mtc" style="float: left; position: relative;"><div role="button" tabindex="0" title="Show street map" aria-label="Show street map" aria-pressed="true" draggable="false" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; min-width: 22px; font-weight: 500;">Map</div><div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; position: absolute; left: 0px; top: 29px; text-align: left; display: none;"><div draggable="false" title="Show street map with terrain" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none;"><img alt="" src="../images/service/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span><label style="vertical-align: middle; cursor: pointer;">Terrain</label></div></div></div><div class="gm-style-mtc" style="float: left; position: relative;"><div role="button" tabindex="0" title="Show satellite imagery" aria-label="Show satellite imagery" aria-pressed="false" draggable="false" style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; background-clip: padding-box; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; min-width: 41px; border-left: 0px;">Satellite</div><div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; position: absolute; right: 0px; top: 29px; text-align: left; display: none;"><div draggable="false" title="Show imagery with street names" style="color: rgb(0, 0, 0); font-family: Roboto, Arial, sans-serif; user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"><img alt="" src="../images/service/imgs8.png" draggable="false" style="position: absolute; left: -52px; top: -44px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;"></div></span><label style="vertical-align: middle; cursor: pointer;">Labels</label></div></div></div></div></div></div></div>
                    </div>*@
            </div>
        </div>
    </div>
    <div class="section-bg-color">
        <div class="container content">
            <div class="row">
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom counter-box-icon">
                        <div class="icon-box-cell">
                            <i class="im-globe text-xxl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <b><label class="counter text-xl" data-speed="5000" data-to="1250" data-trigger="null">1.250</label></b>
                            <p class="text-s">CONNECTIONS</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom counter-box-icon">
                        <div class="icon-box-cell">
                            <i class="im-teacher text-xxl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <b><label class="counter text-xl" data-speed="5000" data-to="3560" data-trigger="null">3.560</label></b>
                            <p class="text-s">EMPLOIERS</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom counter-box-icon">
                        <div class="icon-box-cell">
                            <i class="im-router text-xxl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <b><label class="counter text-xl" data-speed="5000" data-to="3250" data-trigger="null">3.250</label></b>
                            <p class="text-s">KG WIFI COVERED</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box icon-box-top-bottom counter-box-icon">
                        <div class="icon-box-cell">
                            <i class="im-computer-3 text-xxl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <b><label class="counter text-xl" data-speed="5000" data-to="52" data-trigger="null">52</label></b>
                            <p class="text-s">SOFTWARE CREATED</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-empty">
        <div class="container content">
            <div class="row vertical-row">
                <div class="col-md-6">
                    <img src="../images/service/mk-5.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <div class="icon-box">
                        <div class="icon-box-cell">
                            <i class="im-checked-user circle text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">THE BEST TECHNOLOGIES</label>
                            <p class="text-s">Possimus illum etiam aspernatur, vulputate aliquet error minus ac arcu sapiente dignissimos quis lobortis, etiam.</p>
                        </div>
                    </div>
                    <hr class="space m">
                    <div class="icon-box">
                        <div class="icon-box-cell">
                            <i class="im-fire-flame circle text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">THE FIRST OF THIS KIND</label>
                            <p class="text-s">Possimus illum etiam aspernatur, vulputate aliquet error minus ac arcu sapiente dignissimos quis lobortis, etiam.</p>
                        </div>
                    </div>
                    <hr class="space m">
                    <div class="icon-box">
                        <div class="icon-box-cell">
                            <i class="im-space-needle circle text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="text-m">FUTURE ORIENTED</label>
                            <p class="text-s">Possimus illum etiam aspernatur, vulputate aliquet error minus ac arcu sapiente dignissimos quis lobortis, etiam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-bg-image parallax-window" data-natural-height="800" data-natural-width="1980" data-parallax="scroll" data-image-src="../images/service/hd-32.jpg">
        <div class="container content overlay-content   text-center">
            <hr class="space">
            <div class="title-base" data-anima="show-scale" data-trigger="hover">
                <hr class="anima">
                <h2>STAY TUNED</h2>
                <p>Countdown for the start of the end</p>
            </div>

            <div class="countdown text-s" data-time="02/21/2018 10:30:00" data-utc-offset="-5">
                <div>
                    <span class="days countdown-values text-xl">00</span><br><span class="countdown-label">Days</span>
                </div>
                <div>
                    <span class="hours countdown-values text-xl">00</span><br><span class="countdown-label">Hours</span>
                </div>
                <div>
                    <span class="minutes countdown-values text-xl">00</span><br><span class="countdown-label">Mins</span>
                </div>
                <div>
                    <span class="seconds countdown-values text-xl">00</span><br><span class="countdown-label">Secs</span>
                </div>
            </div>
            <hr class="space m">
            <p>
                Corrupti donec repellat magnis assumenda accusantium consequatur aliquet potenti.<br>
                Aut aspernatur nisi sapiente consequatur consequuntur<br>
                omnis aperiam hymenaeos laboriosam scelerisque quas<br>
                Architecto! Debitis? Fusce lorem.
            </p>
            <hr class="space">
        </div>
    </div>
    <div class="section-empty section-item">
        <div class="container content">
            <div class="title-base text-left">
                <hr>
                <h2>Fast informations</h2>
                <p>Check here some of most common question about our services</p>
            </div>
            <hr class="space m">
            <div class="row">
                <div class="col-md-6">
                    <div class="tab-box left pills" data-tab-anima="fade-right">
                        <ul class="nav nav-pills col-md-4">
                            <li class="active"><a href="http://templates.framework-y.com/elon/demo-main/index-services.html#">Warranty</a></li>
                            <li><a href="http://templates.framework-y.com/elon/demo-main/index-services.html#">Copyright</a></li>
                            <li><a href="http://templates.framework-y.com/elon/demo-main/index-services.html#">Support period</a></li>
                        </ul>
                        <div class="panel-box col-md-8">
                            <div class="panel active" style="height: 147px;">
                                A exercitationem eu minus autem minim provident dignissimos ea.
                                In suspendisse pariatur, perspiciatis viverra assumenda platea non aliquid porttitor ratione maecenas rerumdelectus
                                dignissimos impedit.
                            </div>
                            <div class="panel" style="height: 147px;">
                                A exercitationem eu minus autem minim provident dignissimos ea.
                                In suspendisse pariatur, perspiciatis viverra assumenda platea non aliquid porttitor ratione maecenas rerumdelectus
                                dignissimos impedit.
                            </div>
                            <div class="panel" style="height: 147px;">
                                A exercitationem eu minus autem minim provident dignissimos ea.
                                In suspendisse pariatur, perspiciatis viverra assumenda platea non aliquid porttitor ratione maecenas rerumdelectus
                                dignissimos impedit.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="tab-box left pills" data-tab-anima="fade-right">
                        <ul class="nav nav-pills col-md-4">
                            <li class="active"><a href="http://templates.framework-y.com/elon/demo-main/index-services.html#">Money back</a></li>
                            <li><a href="http://templates.framework-y.com/elon/demo-main/index-services.html#">Shipments times</a></li>
                            <li><a href="http://templates.framework-y.com/elon/demo-main/index-services.html#">Shipments costs</a></li>
                        </ul>
                        <div class="panel-box col-md-8">
                            <div class="panel active" style="height: 147px;">
                                A exercitationem eu minus autem minim provident dignissimos ea.
                                In suspendisse pariatur, perspiciatis viverra assumenda platea non aliquid porttitor ratione maecenas rerumdelectus
                                dignissimos impedit.
                            </div>
                            <div class="panel" style="height: 147px;">
                                A exercitationem eu minus autem minim provident dignissimos ea.
                                In suspendisse pariatur, perspiciatis viverra assumenda platea non aliquid porttitor ratione maecenas rerumdelectus
                                dignissimos impedit.
                            </div>
                            <div class="panel" style="height: 147px;">
                                A exercitationem eu minus autem minim provident dignissimos ea.
                                In suspendisse pariatur, perspiciatis viverra assumenda platea non aliquid porttitor ratione maecenas rerumdelectus
                                dignissimos impedit.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{
        Html.RenderPartial("~/Views/Common/_Footer.cshtml");
    }
}
@section StyleSection
{
    <link rel="stylesheet" href="../css/style.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/content-box.css">
    <link rel="stylesheet" href="../css/image-box.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href='../css/components.css'>
    <link rel="stylesheet" href='../css/flexslider.css'>
    <link rel="stylesheet" href='../css/magnific-popup.css'>
    <link rel="stylesheet" href='../css/contact-form.css'>
    <link rel="stylesheet" href='../css/social.stream.css'>
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/skin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

}

@section ScriptsSection {
    <script type="text/javascript" src="~/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/imagesloaded.min.js"></script>
    <script type="text/javascript" src="../scripts/parallax.min.js"></script>
    <script type="text/javascript" src='../scripts/jquery.flexslider-min.js'></script>
    <script type="text/javascript" async src='../scripts/isotope.min.js'></script>
    <script type="text/javascript" async src='../scripts/contact-form.js'></script>
    <script type="text/javascript" async src='../scripts/jquery.progress-counter.js'></script>
    <script type="text/javascript" async src='../scripts/jquery.tab-accordion.js'></script>
    <script type="text/javascript" async src="../scripts/bootstrap.popover.min.js"></script>
    <script type="text/javascript" async src="../scripts/jquery.magnific-popup.min.js"></script>
    <script src='../scripts/social.stream.min.js'></script>
    @*<script src='../scripts/jquery.slimscroll.min.js'></script>*@
    <script type="text/javascript" src='../scripts/smooth.scroll.min.js'></script>
    <script type="text/javascript" src="~/scripts/script.js"></script>
}