
@section TitleSection
{
    Book || Home
}
@section MainSection
{
    @{
        Html.RenderPartial("~/Views/Common/_Menu.cshtml");
    }
<div class="section-empty">
    <div class="content">
        <hr class="space">
        <div class="title-base">
            <hr>
            <h2>Blog home</h2>
            <p>Pixor is web agency near Belluno with a igh power and passion</p>
        </div>

    </div>
</div>
<div class="section-bg-color ">
    <div class="content">
        <div class="maso-list maso-layout">
            <div class="maso-box row" style="position: relative; height: 2908.38px;">
                <div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 0%; top: 0px; visibility: visible;">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover" style="visibility: visible; opacity: 1;">
                        <div class="block-infos" style="opacity: 1;">
                            <div class="block-data">
                                <p class="bd-day">25</p>
                                <p class="bd-month">July 2015</p>
                            </div>
                            <a class="block-comment" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box" style="opacity: 1;"><img class="anima" src="./images/blog/news-1.jpg" alt="" style="max-width: 721px; width: 721px; margin-left: -207px;"></a>
                        <div class="advs-box-content" style="opacity: 1;">
                            <h2><a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">A travel around the world</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Travel</a>, <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Motors</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>

                            </div>
                            <p class="niche-box-content">
                                Assumenda fermentum wisi nonummy hendrerit sociosqu, quam tristique penatibus erat? Etiam tellus nisl! Senectus incididunt voluptatum. Rhoncus luctus
                            </p>
                            <a class="anima-button circle-button btn btn-sm" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Read more</a>
                        </div>
                    </div>
                </div>
                <div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 24.9815%; top: 0px;">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" style="visibility: visible; opacity: 1;">
                        <div class="block-infos" style="opacity: 1;">
                            <div class="block-data">
                                <p class="bd-day">28</p>
                                <p class="bd-month">July 2015</p>
                            </div>
                            <a class="block-comment" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <iframe src="./scripts/blog/Oy853gGAysw.html" style="opacity: 1;"></iframe>
                        <div class="advs-box-content" style="opacity: 1;">
                            <h2><a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">The guitar hero</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Travel</a>, <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Motors</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Assumenda fermentum wisi nonummy hendrerit sociosqu, quam tristique penatibus erat? Etiam tellus nisl! Senectus incididunt voluptatum. Rhoncus luctus
                            </p>
                            <a class="anima-button circle-button btn btn-sm" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Read more</a>
                        </div>
                    </div>
                </div>
                <div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 49.9629%; top: 0px; visibility: visible;">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover" style="visibility: visible; opacity: 1;">
                        <div class="block-infos" style="opacity: 1;">
                            <div class="block-data">
                                <p class="bd-day">02</p>
                                <p class="bd-month">May 2015</p>
                            </div>
                            <a class="block-comment" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box" style="opacity: 1;"><img class="anima" src="./images/blog/news-2.jpg" alt="" style="max-width: 881px; width: 881px; margin-left: -287px; margin-top: 0px;"></a>
                        <div class="advs-box-content" style="opacity: 1;">
                            <h2><a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Business insider trends</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Travel</a>, <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Motors</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Assumenda fermentum wisi nonummy hendrerit sociosqu, quam tristique penatibus erat? Etiam tellus nisl! Senectus incididunt voluptatum. Rhoncus luctus
                            </p>
                            <a class="anima-button circle-button btn btn-sm" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Read more</a>
                        </div>
                    </div>
                </div>
                <div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 74.9444%; top: 0px;">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" style="visibility: visible; opacity: 1;">
                        <div class="block-infos" style="opacity: 1;">
                            <div class="block-data">
                                <p class="bd-day">05</p>
                                <p class="bd-month">May 2015</p>
                            </div>
                            <a class="block-comment" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <iframe src="./scripts/blog/6kpTBquQ3rE.html" style="opacity: 1;"></iframe>
                        <div class="advs-box-content" style="opacity: 1;">
                            <h2><a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Walf Of Wall Street interview</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Travel</a>, <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Motors</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Assumenda fermentum wisi nonummy hendrerit sociosqu, quam tristique penatibus erat? Etiam tellus nisl! Senectus incididunt voluptatum. Rhoncus luctus
                            </p>
                            <a class="anima-button circle-button btn btn-sm" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Read more</a>
                        </div>
                    </div>
                </div>
                <div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 24.9815%; top: 616px; visibility: visible;">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover" style="visibility: visible; opacity: 1;">
                        <div class="block-infos" style="opacity: 1;">
                            <div class="block-data">
                                <p class="bd-day">11</p>
                                <p class="bd-month">May 2015</p>
                            </div>
                            <a class="block-comment" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box" style="opacity: 1;"><img class="anima" src="./images/blog/news-3.jpg" alt=""></a>
                        <div class="advs-box-content" style="opacity: 1;">
                            <h2><a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Miami Beach secrets</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Travel</a>, <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Motors</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Assumenda fermentum wisi nonummy hendrerit sociosqu, quam tristique penatibus erat? Etiam tellus nisl! Senectus incididunt voluptatum. Rhoncus luctus
                            </p>
                            <a class="anima-button circle-button btn btn-sm" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Read more</a>
                        </div>
                    </div>
                </div>
                <div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 74.9444%; top: 631px;">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" style="visibility: visible; opacity: 1;">
                        <div class="block-infos" style="opacity: 1;">
                            <div class="block-data">
                                <p class="bd-day">15</p>
                                <p class="bd-month">May 2015</p>
                            </div>
                            <a class="block-comment" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <iframe src="./scripts/blog/eOez_Hk80TI.html" style="opacity: 1;"></iframe>
                        <div class="advs-box-content" style="opacity: 1;">
                            <h2><a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">World Wide Web Conference</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Travel</a>, <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Motors</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Assumenda fermentum wisi nonummy hendrerit sociosqu, quam tristique penatibus erat? Etiam tellus nisl! Senectus incididunt voluptatum. Rhoncus luctus
                            </p>
                            <a class="anima-button circle-button btn btn-sm" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Read more</a>
                        </div>
                    </div>
                </div>
                <div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 0%; top: 831px; visibility: visible;">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover" style="visibility: visible; opacity: 1;">
                        <div class="block-infos" style="opacity: 1;">
                            <div class="block-data">
                                <p class="bd-day">17</p>
                                <p class="bd-month">May 2015</p>
                            </div>
                            <a class="block-comment" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box" style="opacity: 1;"><img class="anima" src="./images/blog/news-4.jpg" alt=""></a>
                        <div class="advs-box-content" style="opacity: 1;">
                            <h2><a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Barcelona Tech Crunch</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Travel</a>, <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Motors</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Assumenda fermentum wisi nonummy hendrerit sociosqu, quam tristique penatibus erat? Etiam tellus nisl! Senectus incididunt voluptatum. Rhoncus luctus
                            </p>
                            <a class="anima-button circle-button btn btn-sm" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Read more</a>
                        </div>
                    </div>
                </div>
                <div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 49.9629%; top: 916px;">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" style="visibility: visible; opacity: 1;">
                        <div class="block-infos" style="opacity: 1;">
                            <div class="block-data">
                                <p class="bd-day">18</p>
                                <p class="bd-month">August 2015</p>
                            </div>
                            <a class="block-comment" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <iframe src="./scripts/blog/eFv5Wj4ujZ8.html" style="opacity: 1;"></iframe>
                        <div class="advs-box-content" style="opacity: 1;">
                            <h2><a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">A travel around the world</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Travel</a>, <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Motors</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Assumenda fermentum wisi nonummy hendrerit sociosqu, quam tristique penatibus erat? Etiam tellus nisl! Senectus incididunt voluptatum. Rhoncus luctus
                            </p>
                            <a class="anima-button circle-button btn btn-sm" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Read more</a>
                        </div>
                    </div>
                </div>






                <div class="clear"></div>
                <div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 24.9815%; top: 1172px; visibility: visible;">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover" style="visibility: visible; opacity: 1;">
                        <div class="block-infos" style="opacity: 1;">
                            <div class="block-data">
                                <p class="bd-day">19</p>
                                <p class="bd-month">August 2015</p>
                            </div>
                            <a class="block-comment" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box" style="opacity: 1;"><img class="anima" src="./images/blog/news-5.jpg" alt="" style="max-width: 879px; width: 879px; margin-left: -286px; margin-top: -99px;"></a>
                        <div class="advs-box-content" style="opacity: 1;">
                            <h2><a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Microsoft - Google partnership</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Travel</a>, <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Motors</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Assumenda fermentum wisi nonummy hendrerit sociosqu, quam tristique penatibus erat? Etiam tellus nisl! Senectus incididunt voluptatum. Rhoncus luctus
                            </p>
                            <a class="anima-button circle-button btn btn-sm" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Read more</a>
                        </div>
                    </div>
                </div><div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 74.9444%; top: 1262px; visibility: visible;">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover" style="visibility: visible; opacity: 1;">
                        <div class="block-infos" style="opacity: 1;">
                            <div class="block-data">
                                <p class="bd-day">20</p>
                                <p class="bd-month">August 2015</p>
                            </div>
                            <a class="block-comment" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box" style="opacity: 1;"><img class="anima" src="./images/blog/news-6.jpg" alt="" style="max-width: 559px; width: 559px; margin-left: -126px;"></a>
                        <div class="advs-box-content" style="opacity: 1;">
                            <h2><a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Bitcoins and deep web</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Travel</a>, <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Motors</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Assumenda fermentum wisi nonummy hendrerit sociosqu, quam tristique penatibus erat? Etiam tellus nisl! Senectus incididunt voluptatum. Rhoncus luctus
                            </p>
                            <a class="anima-button circle-button btn btn-sm" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Read more</a>
                        </div>
                    </div>
                </div><div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 0%; top: 1402px; visibility: visible;">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover" style="visibility: visible; opacity: 1;">
                        <div class="block-infos" style="opacity: 1;">
                            <div class="block-data">
                                <p class="bd-day">25</p>
                                <p class="bd-month">August 2015</p>
                            </div>
                            <a class="block-comment" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box" style="opacity: 1;"><img class="anima" src="./images/blog/news-7.jpg" alt="" style="max-width: 400px; width: 400px; margin-left: -47px;"></a>
                        <div class="advs-box-content" style="opacity: 1;">
                            <h2><a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Stay tuned to Virgin</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Travel</a>, <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Motors</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Assumenda fermentum wisi nonummy hendrerit sociosqu, quam tristique penatibus erat? Etiam tellus nisl! Senectus incididunt voluptatum. Rhoncus luctus
                            </p>
                            <a class="anima-button circle-button btn btn-sm" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Read more</a>
                        </div>
                    </div>
                </div><div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 49.9629%; top: 1547px; visibility: visible;">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover" style="visibility: visible; opacity: 1;">
                        <div class="block-infos" style="opacity: 1;">
                            <div class="block-data">
                                <p class="bd-day">27</p>
                                <p class="bd-month">August 2015</p>
                            </div>
                            <a class="block-comment" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box" style="opacity: 1;"><img class="anima" src="./images/blog/news-8.jpg" alt="" style="max-width: 400px; width: 400px; margin-left: -47px;"></a>
                        <div class="advs-box-content" style="opacity: 1;">
                            <h2><a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Richard Brenson Plans</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Travel</a>, <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Motors</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Assumenda fermentum wisi nonummy hendrerit sociosqu, quam tristique penatibus erat? Etiam tellus nisl! Senectus incididunt voluptatum. Rhoncus luctus
                            </p>
                            <a class="anima-button circle-button btn btn-sm" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Read more</a>
                        </div>
                    </div>
                </div><div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 24.9815%; top: 1903px; visibility: visible;">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover" style="visibility: visible; opacity: 1;">
                        <div class="block-infos" style="opacity: 1;">
                            <div class="block-data">
                                <p class="bd-day">28</p>
                                <p class="bd-month">August 2015</p>
                            </div>
                            <a class="block-comment" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box" style="opacity: 1;"><img class="anima" src="./images/blog/news-9.jpg" alt="" style="max-width: 559px; width: 559px; margin-left: -126px;"></a>
                        <div class="advs-box-content" style="opacity: 1;">
                            <h2><a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">A travel around the world</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Travel</a>, <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Motors</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Assumenda fermentum wisi nonummy hendrerit sociosqu, quam tristique penatibus erat? Etiam tellus nisl! Senectus incididunt voluptatum. Rhoncus luctus
                            </p>
                            <a class="anima-button circle-button btn btn-sm" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Read more</a>
                        </div>
                    </div>
                </div><div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 74.9444%; top: 1977px; visibility: visible;">
                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover" style="visibility: visible; opacity: 1;">
                        <div class="block-infos" style="opacity: 1;">
                            <div class="block-data">
                                <p class="bd-day">30</p>
                                <p class="bd-month">August 2015</p>
                            </div>
                            <a class="block-comment" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">2 <i class="fa fa-comment-o"></i></a>
                        </div>
                        <a class="img-box" style="opacity: 1;"><img class="anima" src="./images/blog/news-10.jpg" alt="" style="max-width: 881px; width: 881px; margin-left: -287px;"></a>
                        <div class="advs-box-content" style="opacity: 1;">
                            <h2><a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">A travel around the world</a></h2>
                            <div class="tag-row">
                                <span><i class="fa fa-bookmark"></i> <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Travel</a>, <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Motors</a></span>
                                <span><i class="fa fa-pencil"></i><a>Admin</a></span>
                            </div>
                            <p class="niche-box-content">
                                Assumenda fermentum wisi nonummy hendrerit sociosqu, quam tristique penatibus erat? Etiam tellus nisl! Senectus incididunt voluptatum. Rhoncus luctus
                            </p>
                            <a class="anima-button circle-button btn btn-sm" href="http://templates.framework-y.com/elon/demo-main/index-blog.html#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-nav">
                <a href="http://templates.framework-y.com/elon/demo-main/index-blog.html#" class="circle-button btn-sm btn load-more-maso" data-page-items="8" data-options="lazyLoad:true" data-current-page="2" style="display: none;">Load More <i class="fa fa-arrow-down"></i></a>
            </div>
        </div>
    </div>
</div>
    @{
        Html.RenderPartial("~/Views/Common/_Footer.cshtml");
    }
}
@section StyleSection
{
    <link rel="stylesheet" href="../css/style.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/content-box.css">
    <link rel="stylesheet" href="../css/image-box.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href='../css/components.css'>
    <link rel="stylesheet" href='../css/flexslider.css'>
    <link rel="stylesheet" href='../css/magnific-popup.css'>
    <link rel="stylesheet" href='../css/contact-form.css'>
    <link rel="stylesheet" href='../css/social.stream.css'>
    <link rel="icon" href="../images/blog/favicon.png">
    <link rel="stylesheet" href="../css/skin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

}

@section ScriptsSection {
    <script type="text/javascript" src="~/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/imagesloaded.min.js"></script>
    <script type="text/javascript" src="../scripts/parallax.min.js"></script>
    <script type="text/javascript" src='../scripts/jquery.flexslider-min.js'></script>
    <script type="text/javascript" async src='../scripts/isotope.min.js'></script>
    <script type="text/javascript" async src='../scripts/contact-form.js'></script>
    <script type="text/javascript" async src='../scripts/jquery.progress-counter.js'></script>
    <script type="text/javascript" async src='../scripts/jquery.tab-accordion.js'></script>
    <script type="text/javascript" async src="../scripts/bootstrap.popover.min.js"></script>
    <script type="text/javascript" async src="../scripts/jquery.magnific-popup.min.js"></script>
    <script src='../scripts/social.stream.min.js'></script>
    <script src='../scripts/jquery.slimscroll.min.js'></script>
    <script type="text/javascript" src='../scripts/smooth.scroll.min.js'></script>
    <script type="text/javascript" src="~/scripts/script.js"></script>
}