<footer class="footer-base footer-parallax">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-left">
                    <img src="../images/logo-light.png" alt="" />
                    <hr class="space s" />
                    <p>PO Box 16122, Collins Street West, Victoria 8007, United States.</p>
                    <p>e-mail <b> federico@pixor.it</b>        </p>
                    <p>phone <b> (+39) 320-3057955</b></p>
                    <p>fax<b> (+39) 320-3057955</b></p>
                    <p>Skype <b> federico.schiocchet</b> </p>
                    <p><b></b></p>
                </div>
                <div class="col-md-4 footer-center text-left">
                    <p>
                        Dolorem urna possimus pretium debitis assumenda, doloribus sem congue molestias itaque ante venenatis
                        sequi exercitation excepteur! <br /><br />
                        fusce ultricies explicabo neque! Per, pulvinar dictum dapibus dui magnadoloribus sem congue molestias itaque.
                    </p>
                    <hr class="space s" />
                    <div class="btn-group social-group btn-group-icons">
                        <a target="_blank" href="#" data-social="share-facebook"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#" data-social="share-twitter"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#" data-social="share-google"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" href="#" data-social="share-linkedin"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
                <div class="col-md-4 footer-right text-left">
                    <h5>SUBSCRIBE NOW !</h5>
                    <hr class="space s" />
                    <p>
                        Sign up for elon mounthly newsletter and get to know more about our latest adventures and much mores...
                    </p>
                    <hr class="space s" />
                    <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax" method="post" data-email="federico@pixor.it">
                        <div class="input-group">
                            <input type="text" class="form-control form-value">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default">Join now</button>
                            </div>
                        </div>
                        <div class="success-box">
                            <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                        </div>
                        <div class="error-box">
                            <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row copy-row">
            <div class="col-md-12 copy-text">
                © 2017 elon - Multipurpose & Modern Html Template Handmade by <a href="http://schiocco.io/">schiocco.io</a>
            </div>
        </div>
    </div>

</footer>

