
@section TitleSection
{
    Book || Home
}
@section MainSection
{
    @{
        Html.RenderPartial("~/Views/Common/_Menu.cshtml");
    }
<div class="section-empty section-item">
    <div class="content">
        <hr class="space">
        <hr class="space">
        <div class="maso-list maso-layout">
            <div class="navbar navbar-inner">
                <div class="navbar-toggle"><i class="fa fa-bars"></i><span>Menu</span><i class="fa fa-angle-down"></i></div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav nav-center over ms-minimal inner maso-filters">

                        <li><a data-filter="cat1">Web</a></li>
                        <li><a data-filter="cat2">Graphic</a></li>
                        <li><a data-filter="cat3">Video</a></li>

                    </ul>
                </div>
            </div>
            <div class="maso-box row" style="position: relative; height: 1632.38px;">
                <div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 0%; top: 0px; visibility: visible;">
                    <div class="img-box adv-img adv-img-side-content i-top-right" data-anima="fade-in" data-anima-out="hide" data-trigger="hover" style="opacity: 1;">
                        <i class="fa fa-camera-retro anima"></i>
                        <a class="img-box anima-scale-up anima" href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#">
                            <img src="./images/portalfolio/project-1.jpg" alt="" style="max-width: 541px; width: 541px; margin-left: -117px; margin-top: 0px;">
                        </a>
                        <div class="caption anima">
                            <h2 class="anima anima-fade-left">Elon project</h2>
                            <p class="anima anima-fade-left">
                                Brand name - Location - 2016
                            </p>
                        </div>
                    </div>
                </div>
                <div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 24.9815%; top: 0px; visibility: visible;">
                    <div class="img-box adv-img adv-img-side-content i-top-right" data-anima="fade-in" data-anima-out="hide" data-trigger="hover" style="opacity: 1;">
                        <i class="fa fa-camera-retro anima" aid="0.7748689222762644" style="transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms; opacity: 0;"></i>
                        <a class="img-box anima-scale-up anima" href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#" aid="0.7111317742956886" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms; opacity: 0;">
                            <img src="./images/portalfolio/project-2.jpg" alt="" style="max-width: 421px; width: 421px; margin-left: -57px; margin-top: 0px;">
                        </a>
                        <div class="caption anima" aid="0.4301642800251695" style="transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms; opacity: 0;">
                            <h2 class="anima anima-fade-left" aid="0.6015090206893927" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms; opacity: 0;">Renzo Piano Design</h2>
                            <p class="anima anima-fade-left" aid="0.1173493816116078" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms; opacity: 0;">
                                Brand name - Location - 2016
                            </p>
                        </div>
                    </div>
                </div>
                <div data-sort="1" class="maso-item col-md-3 cat1 cat2" style="position: absolute; left: 49.9629%; top: 0px; visibility: visible;">
                    <div class="img-box adv-img adv-img-side-content i-top-right" data-anima="fade-in" data-anima-out="hide" data-trigger="hover" style="opacity: 1;">
                        <i class="fa fa-camera-retro anima" aid="0.24408387945296184" style="transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms; opacity: 0;"></i>
                        <a class="img-box anima-scale-up anima" href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#" aid="0.4156356213477965" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms; opacity: 0;">
                            <img src="./images/portalfolio/project-3.jpg" alt="" style="max-width: 661px; width: 661px; margin-left: -177px; margin-top: 0px;">
                        </a>
                        <div class="caption anima" aid="0.0738742328398132" style="transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms; opacity: 0;">
                            <h2 class="anima anima-fade-left" aid="0.9821093356989374" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms; opacity: 0;">Matrix concept III</h2>
                            <p class="anima anima-fade-left" aid="0.18581374934503558" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms; opacity: 0;">
                                Brand name - Location - 2016
                            </p>
                        </div>
                    </div>
                </div>
                <div data-sort="1" class="maso-item col-md-3 cat2" style="position: absolute; left: 74.9444%; top: 0px; visibility: visible;">
                    <div class="img-box adv-img adv-img-side-content i-top-right" data-anima="fade-in" data-anima-out="hide" data-trigger="hover" style="opacity: 1;">
                        <i class="fa fa-camera-retro anima" aid="0.8545574450998508" style="transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms; opacity: 0;"></i>
                        <a class="img-box anima-scale-up anima" href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#" aid="0.31371314082645707" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms; opacity: 0;">
                            <img src="./images/portalfolio/project-4.jpg" alt="" style="margin-top: -2px;">
                        </a>
                        <div class="caption anima" aid="0.5873817352029806" style="transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms; opacity: 0;">
                            <h2 class="anima anima-fade-left" aid="0.7973968421120765" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms; opacity: 0;">UX Design Pitch</h2>
                            <p class="anima anima-fade-left" aid="0.7263026651691025" style="position: relative; transition-duration: 500ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms; opacity: 0;">
                                Brand name - Location - 2016
                            </p>
                        </div>
                    </div>
                </div>
                <div data-sort="1" class="maso-item col-md-3 cat2" style="position: absolute; left: 74.9444%; top: 282px; visibility: visible;">
                    <div class="img-box adv-img adv-img-side-content i-top-right" data-anima="fade-in" data-anima-out="hide" data-trigger="hover" style="opacity: 1;">
                        <i class="fa fa-camera-retro anima"></i>
                        <a class="img-box anima-scale-up anima" href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#">
                            <img src="./images/portalfolio/project-5.jpg" alt="">
                        </a>
                        <div class="caption anima">
                            <h2 class="anima anima-fade-left">Travel into the pixels</h2>
                            <p class="anima anima-fade-left">
                                Brand name - Location - 2016
                            </p>
                        </div>
                    </div>
                </div>
                <div data-sort="1" class="maso-item col-md-3 cat3" style="position: absolute; left: 24.9815%; top: 382px; visibility: visible;">
                    <div class="img-box adv-img adv-img-side-content i-top-right" data-anima="fade-in" data-anima-out="hide" data-trigger="hover" style="opacity: 1;">
                        <i class="fa fa-camera-retro anima"></i>
                        <a class="img-box anima-scale-up anima" href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#">
                            <img src="./images/portalfolio/project-6.jpg" alt="" style="max-width: 421px; width: 421px; margin-left: -57px; margin-top: 0px;">
                        </a>
                        <div class="caption anima">
                            <h2 class="anima anima-fade-left">Magic design</h2>
                            <p class="anima anima-fade-left">
                                Brand name - Location - 2016
                            </p>
                        </div>
                    </div>
                </div>
                <div data-sort="1" class="maso-item col-md-3 cat3" style="position: absolute; left: 0%; top: 482px; visibility: visible;">
                    <div class="img-box adv-img adv-img-side-content i-top-right" data-anima="fade-in" data-anima-out="hide" data-trigger="hover" style="opacity: 1;">
                        <i class="fa fa-camera-retro anima"></i>
                        <a class="img-box anima-scale-up anima" href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#">
                            <img src="./images/portalfolio/project-7.jpg" alt="">
                        </a>
                        <div class="caption anima">
                            <h2 class="anima anima-fade-left">Famous quotes project</h2>
                            <p class="anima anima-fade-left">
                                Brand name - Location - 2016
                            </p>
                        </div>
                    </div>
                </div>
                <div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 74.9444%; top: 568px; visibility: visible;">
                    <div class="img-box adv-img adv-img-side-content i-top-right" data-anima="fade-in" data-anima-out="hide" data-trigger="hover" style="opacity: 1;">
                        <i class="fa fa-camera-retro anima"></i>
                        <a class="img-box anima-scale-up anima" href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#">
                            <img src="./images/portalfolio/project-8.jpg" alt="" style="margin-top: -2px;">
                        </a>
                        <div class="caption anima">
                            <h2 class="anima anima-fade-left">Elonistic experience</h2>
                            <p class="anima anima-fade-left">
                                Brand name - Location - 2016
                            </p>
                        </div>
                    </div>
                </div>







                <div class="clear"></div>
                <div data-sort="1" class="maso-item col-md-3 cat1 cat2" style="position: absolute; left: 49.9629%; top: 582px; visibility: visible;">
                    <div class="img-box adv-img adv-img-side-content i-top-right" data-anima="fade-in" data-anima-out="hide" data-trigger="hover" style="opacity: 1;">
                        <i class="fa fa-camera-retro anima"></i>
                        <a class="img-box anima-scale-up anima" href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#">
                            <img src="./images/portalfolio/project-9.jpg" alt="" style="max-width: 661px; width: 661px; margin-left: -177px; margin-top: -100px;">
                        </a>
                        <div class="caption anima">
                            <h2 class="anima anima-fade-left">New York Tech Conference</h2>
                            <p class="anima anima-fade-left">
                                Brand name - Location - 2016
                            </p>
                        </div>
                    </div>
                </div><div data-sort="1" class="maso-item col-md-3 cat1 cat3" style="position: absolute; left: 24.9815%; top: 764px; visibility: visible;">
                    <div class="img-box adv-img adv-img-side-content i-top-right" data-anima="fade-in" data-anima-out="hide" data-trigger="hover" style="opacity: 1;">
                        <i class="fa fa-camera-retro anima"></i>
                        <a class="img-box anima-scale-up anima" href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#">
                            <img src="./images/portalfolio/project-10.jpg" alt="" style="max-width: 421px; width: 421px; margin-left: -57px; margin-top: 0px;">
                        </a>
                        <div class="caption anima">
                            <h2 class="anima anima-fade-left">Silicon Valley Screen Timeline</h2>
                            <p class="anima anima-fade-left">
                                Brand name - Location - 2016
                            </p>
                        </div>
                    </div>
                </div><div data-sort="1" class="maso-item col-md-3 cat3" style="position: absolute; left: 0%; top: 768px; visibility: visible;">
                    <div class="img-box adv-img adv-img-side-content i-top-right" data-anima="fade-in" data-anima-out="hide" data-trigger="hover" style="opacity: 1;">
                        <i class="fa fa-camera-retro anima"></i>
                        <a class="img-box anima-scale-up anima" href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#">
                            <img src="./images/portalfolio/project-11.jpg" alt="" style="margin-top: -2px;">
                        </a>
                        <div class="caption anima">
                            <h2 class="anima anima-fade-left">Europa and USA together</h2>
                            <p class="anima anima-fade-left">
                                Brand name - Location - 2016
                            </p>
                        </div>
                    </div>
                </div><div data-sort="1" class="maso-item col-md-3 cat2" style="position: absolute; left: 74.9444%; top: 850px; visibility: visible;">
                    <div class="img-box adv-img adv-img-side-content i-top-right" data-anima="fade-in" data-anima-out="hide" data-trigger="hover" style="opacity: 1;">
                        <i class="fa fa-camera-retro anima"></i>
                        <a class="img-box anima-scale-up anima" href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#">
                            <img src="./images/portalfolio/project-1.jpg" alt="" style="margin-top: -1px;">
                        </a>
                        <div class="caption anima">
                            <h2 class="anima anima-fade-left">Mystic Experience</h2>
                            <p class="anima anima-fade-left">
                                Brand name - Location - 2016
                            </p>
                        </div>
                    </div>
                </div><div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 49.9629%; top: 964px; visibility: visible;">
                    <div class="img-box adv-img adv-img-side-content i-top-right" data-anima="fade-in" data-anima-out="hide" data-trigger="hover" style="opacity: 1;">
                        <i class="fa fa-camera-retro anima"></i>
                        <a class="img-box anima-scale-up anima" href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#">
                            <img src="./images/portalfolio/project-2.jpg" alt="" style="max-width: 421px; width: 421px; margin-left: -57px;">
                        </a>
                        <div class="caption anima">
                            <h2 class="anima anima-fade-left">Micro Jobs</h2>
                            <p class="anima anima-fade-left">
                                Brand name - Location - 2016
                            </p>
                        </div>
                    </div>
                </div><div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 0%; top: 1050px; visibility: visible;">
                    <div class="img-box adv-img adv-img-side-content i-top-right" data-anima="fade-in" data-anima-out="hide" data-trigger="hover" style="opacity: 1;">
                        <i class="fa fa-camera-retro anima"></i>
                        <a class="img-box anima-scale-up anima" href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#">
                            <img src="./images/portalfolio/project-3.jpg" alt="" style="max-width: 660px; width: 660px; margin-left: -177px; margin-top: 0px;">
                        </a>
                        <div class="caption anima">
                            <h2 class="anima anima-fade-left">Desktop and web design</h2>
                            <p class="anima anima-fade-left">
                                Brand name - Location - 2016
                            </p>
                        </div>
                    </div>
                </div><div data-sort="1" class="maso-item col-md-3 cat1" style="position: absolute; left: 74.9444%; top: 1134px; visibility: visible;">
                    <div class="img-box adv-img adv-img-side-content i-top-right" data-anima="fade-in" data-anima-out="hide" data-trigger="hover" style="opacity: 1;">
                        <i class="fa fa-camera-retro anima"></i>
                        <a class="img-box anima-scale-up anima" href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#">
                            <img src="./images/portalfolio/project-4.jpg" alt="" style="max-width: 661px; width: 661px; margin-left: -177px; margin-top: -150px;">
                        </a>
                        <div class="caption anima">
                            <h2 class="anima anima-fade-left">Typography project</h2>
                            <p class="anima anima-fade-left">
                                Brand name - Location - 2016
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-nav">
                <a href="http://templates.framework-y.com/elon/demo-main/index-portfolio.html#" class="circle-button btn-sm btn load-more-maso" data-page-items="8" data-options="lazyLoad:true" data-current-page="2" style="display: none;">Load More <i class="fa fa-arrow-down"></i></a>
            </div>
        </div>
    </div>
</div>
    @{
        Html.RenderPartial("~/Views/Common/_Footer.cshtml");
    }
}
@section StyleSection
{
    <link rel="stylesheet" href="../css/style.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/content-box.css">
    <link rel="stylesheet" href="../css/image-box.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href='../css/components.css'>
    <link rel="stylesheet" href='../css/flexslider.css'>
    <link rel="stylesheet" href='../css/magnific-popup.css'>
    <link rel="stylesheet" href='../css/contact-form.css'>
    <link rel="stylesheet" href='../css/social.stream.css'>
    <link href="~/css/line-icons.min.css" rel="stylesheet" />
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/skin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

}

@section ScriptsSection {
    <script type="text/javascript" src="~/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/imagesloaded.min.js"></script>
    <script type="text/javascript" src="../scripts/parallax.min.js"></script>
    <script type="text/javascript" src='../scripts/jquery.flexslider-min.js'></script>
    <script type="text/javascript" async src='../scripts/isotope.min.js'></script>
    <script type="text/javascript" async src='../scripts/contact-form.js'></script>
    <script type="text/javascript" async src='../scripts/jquery.progress-counter.js'></script>
    <script type="text/javascript" async src='../scripts/jquery.tab-accordion.js'></script>
    <script type="text/javascript" async src="../scripts/bootstrap.popover.min.js"></script>
    <script type="text/javascript" async src="../scripts/jquery.magnific-popup.min.js"></script>
    <script src='../scripts/social.stream.min.js'></script>
    @*<script src='../scripts/jquery.slimscroll.min.js'></script>*@
    <script type="text/javascript" src='../scripts/smooth.scroll.min.js'></script>
    <script type="text/javascript" src="~/scripts/script.js"></script>
}