
@section TitleSection
{
    Book || Home
}
@section MainSection
{
    @{
        Html.RenderPartial("~/Views/Common/_Menu.cshtml");
    }
    <div id="about-us" class="segment">
        <div class="container">
            <div class="row">
                <div class="about-us-info text-center">
                    <p class="our-vision-content">
                        "Our mission is to help our customers deliver awesome software quickly."
                    </p>
                    <hr>
                    <h2>Our History</h2>
                    <p class="about-us-content">
                        Founded in 2001 and headquartered in Research Triangle Park, N.C., Syncfusion has more than 13,000 customers and more than 1 million users, including large financial institutions, Fortune 500 companies, and global IT consultancies.
                    </p>
                    <p class="about-us-content">

                        Today we provide 800+ controls and frameworks for web, mobile, and desktop development. We provide ready-to-deploy enterprise software for dashboards, reports, data integration, and big data processing. Many customers have saved millions in licensing fees by deploying our software.

                    </p>
                </div>
            </div>
        </div>
    </div>
<div id="management" class="segment management">
    <section class="text-center management">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="text-center bold">Management Team</h2>
                    <p class="text-center medium">
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-sm-4  col-md-4 col-lg-4">
                        <div class="feature feature-8 modal-instance">
                            <img class="open-management-modal" data-trigger-id="0" src="./Company _ About Us _ Syncfusion_files/lead-002.png" alt="STEFAN HOEIGN">
                            <h5 class="open-management-modal" data-trigger-id="0">STEFAN HOENIG</h5>
                            <span>President &amp; CEO</span>
                        </div>
                    </div>
                    <div class="col-sm-4  col-md-4 col-lg-4">
                        <div class="feature feature-8 modal-instance">
                            <img class="open-management-modal" data-trigger-id="1" src="./Company _ About Us _ Syncfusion_files/lead-003.png" alt="DANIEL JEBARAJ">
                            <h5 class="open-management-modal" data-trigger-id="1">DANIEL JEBARAJ</h5>
                            <span>Vice President</span>
                        </div>
                    </div>
                    <div class="col-sm-4  col-md-4 col-lg-4">
                        <div class="feature feature-8 modal-instance">
                            <img class="open-management-modal" data-trigger-id="2" src="./Company _ About Us _ Syncfusion_files/lead-004.png" alt="CLAYBURCH">
                            <h5 class="open-management-modal" data-trigger-id="2">CLAY BURCH</h5>
                            <span>Director of Technical Support</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-sm-4  col-md-4 col-lg-4">
                        <div class="feature feature-8 modal-instance">
                            <img class="open-management-modal" data-trigger-id="3" src="./Company _ About Us _ Syncfusion_files/lead-005.png" alt="DAVIS JEBARAJ">
                            <h5 class="open-management-modal" data-trigger-id="3">DAVIS JEBARAJ</h5>

                            <span>Director of Development</span>
                        </div>
                    </div>
                    <div class="col-sm-4  col-md-4 col-lg-4">
                        <div class="feature feature-8 modal-instance">
                            <img class="open-management-modal" data-trigger-id="4" src="./Company _ About Us _ Syncfusion_files/lead-006.png" alt="CHRISTIANGROSSMANN">
                            <h5 class="open-management-modal" data-trigger-id="4">CHRISTIAN GROSSMANN</h5>

                            <span>Director of Sales</span>
                        </div>
                    </div>
                    <div class="col-sm-4  col-md-4 col-lg-4">
                        <div class="feature feature-8 modal-instance">
                            <img class="open-management-modal" data-trigger-id="5" src="./Company _ About Us _ Syncfusion_files/lead-010.png" alt="JACLYN VIDUSIC">
                            <h5 class="open-management-modal" data-trigger-id="5">JACLYN VIDUSIC<span id="information-tooltip"></span></h5>

                            <span>General Counsel</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-sm-4  col-md-4 col-lg-4">
                        <div class="feature feature-8 modal-instance">
                            <img class="open-management-modal" data-trigger-id="6" src="./Company _ About Us _ Syncfusion_files/lead-009.png" alt="BRAD FREEMAN">
                            <h5 class="open-management-modal" data-trigger-id="6">BRAD FREEMAN</h5>
                            <span>Director of Sales</span>
                        </div>
                    </div>
                    <div class="col-sm-4  col-md-4 col-lg-4">
                        <div class="feature feature-8 modal-instance">
                            <img class="open-management-modal" data-trigger-id="7" src="./Company _ About Us _ Syncfusion_files/lead-008.png" alt="SALLY BLOOM">
                            <h5 class="open-management-modal" data-trigger-id="7">SALLY BLOOM</h5>
                            <span>Director of Finance</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>
<div id="awards">
    <div id="awards-customer" class="segment">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xd-12 awards">
                    <h3 class="bold">Awards</h3>
                    <p class="regular">
                        Greatness—it’s one thing to say you have it, but it means more when others recognize it. Syncfusion is proud to hold the following industry awards.
                    </p>
                    <div class="all-awards">
                        <img alt="syncfusion-awards" src="./Company _ About Us _ Syncfusion_files/Award-componentsource_horizontal_final_img.png">
                    </div>
                    <div id="waiting-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>
    @{
        Html.RenderPartial("~/Views/Common/_Footer.cshtml");
    }
}
@section StyleSection
{
    <link rel="stylesheet" href="../css/style.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/content-box.css">
    <link rel="stylesheet" href="../css/image-box.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href='../css/components.css'>
    <link rel="stylesheet" href='../css/flexslider.css'>
    <link rel="stylesheet" href='../css/magnific-popup.css'>
    <link rel="stylesheet" href='../css/contact-form.css'>
    <link rel="stylesheet" href='../css/social.stream.css'>
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/skin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/aboutus.css" rel="stylesheet" />
}

@section ScriptsSection {
    <script type="text/javascript" src="~/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/imagesloaded.min.js"></script>
    <script type="text/javascript" src="../scripts/parallax.min.js"></script>
    <script type="text/javascript" src='../scripts/jquery.flexslider-min.js'></script>
    <script type="text/javascript" async src='../scripts/isotope.min.js'></script>
    <script type="text/javascript" async src='../scripts/contact-form.js'></script>
    <script type="text/javascript" async src='../scripts/jquery.progress-counter.js'></script>
    <script type="text/javascript" async src='../scripts/jquery.tab-accordion.js'></script>
    <script type="text/javascript" async src="../scripts/bootstrap.popover.min.js"></script>
    <script type="text/javascript" async src="../scripts/jquery.magnific-popup.min.js"></script>
    <script src='../scripts/social.stream.min.js'></script>
    <script src='../scripts/jquery.slimscroll.min.js'></script>
    <script type="text/javascript" src='../scripts/smooth.scroll.min.js'></script>
    <script type="text/javascript" src="~/scripts/script.js"></script>
}
