
@section TitleSection
{
    Book || Home
}
@section MainSection
{
    @{
        Html.RenderPartial("~/Views/Common/_Menu.cshtml");
    }

    <div class="section-bg-image parallax-window box-middle-container row-21" data-natural-height="1080" data-natural-width="1920" data-parallax="scroll" data-image-src="../images/products/hd-31.jpg">
        <div class="container content box-middle">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <hr class="space visible-xs" />
                    <hr class="space visible-xs" />
                    <hr class="space visible-xs" />
                    <hr class="space visible-xs" />
                    <h1 class="text-xxl text-color anima">HELLO !</h1>
                    <h1 class="text-xl anima">WE ARE FREELANCER FOR PASSION</h1>
                    <hr class="space m" />
                    <img class="sign-slide" src="../images/products/sign-2.png" alt="" />
                    <hr class="space visible-xs" />
                    <hr class="space visible-xs" />
                    <hr class="space visible-xs" />
                    <hr class="space visible-xs" />
                </div>
            </div>
        </div>
    </div>
    <div class="section-bg-color">
        <div class="container content">
            <div class="row">
                <div class="col-md-3">
                    <div class="icon-box counter-box-icon">
                        <div class="icon-box-cell">
                            <i class="im-communication-tower text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="counter text-l" data-speed="5000" data-to="1203">1203</label>
                            <p>RELASHIONSHIPS</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box counter-box-icon">
                        <div class="icon-box-cell">
                            <i class="im-address-book text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="counter text-l" data-speed="5000" data-to="50020">50020</label>
                            <p>HAPPY FANS</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box counter-box-icon">
                        <div class="icon-box-cell">
                            <i class="im-rafting text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="counter text-l" data-speed="5000" data-to="7523">7523</label>
                            <p>GREAT PROJECTS</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="icon-box counter-box-icon">
                        <div class="icon-box-cell">
                            <i class="im-pizza-slice text-xl"></i>
                        </div>
                        <div class="icon-box-cell">
                            <label class="counter text-l" data-speed="5000" data-to="1000">1000</label>
                            <p>PIZZAS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-empty">
        <div class="container content">
            <div class="row">

                <div class="col-md-6">
                    <div class="title-base text-left">
                        <hr />
                        <h2>WEB EXPERTS</h2>
                        <p>A new friend is born for make happy you</p>
                    </div>
                    <p>
                        Varius inventore modi orovident sociis fusce ultrices, magna facilisis, proident accusantium class.
                        Amet. Officiis magnisllum laboris cum. In nostrum, laborum nunc recusandae.
                        Aliquip sapiente numquam, neque nunc turpis adipisicing tincidunt primis expedita.
                        Varius inventore modi.
                        Odit, eleifend quod do nostrum fermentum reprehenderit? Minim sollicitudin? Molestiae ipsam eos duis ipsa.
                        similique soluta ut aliquip sapiente numquam.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="list-group accordion-list">
                        <div class="list-group-item">
                            <a href="#"> Take a look to the features</a>
                            <div class="panel">
                                <div class="inner">
                                    Lacinia quis luctus reprehenderit facilis repellat? Deleniti consectetuer elementum praesentium ac, aptent,
                                    similique soluta ut aliquip sapiente numquam, neque nunc turpis adipisicing tincidunt primis expedita.
                                    Varius inventore modi? Provident sociis fusce ultrices, magna facilisis, proident accusantium class.
                                    Amet. Officiis magnis? Illum laboris cum. In nostrum, laborum nunc recusandae.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#"> The best warranty valid three yaers</a>
                            <div class="panel">
                                <div class="inner">
                                    Lacinia quis luctus reprehenderit facilis repellat? Deleniti consectetuer elementum praesentium ac, aptent, similique soluta ut aliquip sapiente numquam, neque nunc turpis adipisicing tincidunt primis expedita.
                                    Varius inventore modi? Provident sociis fusce ultrices, magna facilisis, proident accusantium class. Amet. Officiis magnis? Illum laboris cum. In nostrum, laborum nunc recusandae.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#"> Mix and math new components and addons</a>
                            <div class="panel">
                                <div class="inner">
                                    Lacinia quis luctus reprehenderit facilis repellat? Deleniti consectetuer elementum praesentium ac, aptent, similique soluta ut aliquip sapiente numquam, neque nunc turpis adipisicing tincidunt primis expedita.
                                    Varius inventore modi? Provident sociis fusce ultrices, magna facilisis, proident accusantium class. Amet. Officiis magnis? Illum laboris cum. In nostrum, laborum nunc recusandae.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#">Change colors and cover</a>
                            <div class="panel">
                                <div class="inner">
                                    Lacinia quis luctus reprehenderit facilis repellat? Deleniti consectetuer elementum praesentium ac, aptent, similique soluta ut aliquip sapiente numquam, neque nunc turpis adipisicing tincidunt primis expedita.
                                    Varius inventore modi? Provident sociis fusce ultrices, magna facilisis, proident accusantium class. Amet. Officiis magnis? Illum laboris cum. In nostrum, laborum nunc recusandae.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-bg-image parallax-window" data-natural-height="678" data-natural-width="1920" data-parallax="scroll" data-image-src="../images/products/parallax-4.jpg">
        <div class="container content overlay-content">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="title-base text-left">
                        <hr />
                        <h2>The future of the smartwatch</h2>
                        <p>A new friend is born for make happy you</p>
                    </div>
                    <p>
                        Dolor consequuntur? Praesent, mus vero praesent deleniti ornare ipsam, arcu nunc voluptate
                        corrupti perferendis proin erat, feugiat facilisis, deserunt dolor curabitur, magna sunt nihil morbi.
                        Ullamcorper imperdiet reprehenderit penatibus? Maecenas rutrum viverra dis ullamco voluptates soluta
                        ullam mollis sunt? Facere itaque. Turpis itaque elementum felis, laboriosam convallis.
                    </p>
                    <hr class="space m" />
                    <a href="#" class="circle-button btn btn-sm">Read more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="section-empty">
        <div class="content">
            <div class="coverflow-slider" data-width="25" data-options="enableMousewheel:false">
                <ul>
                    <li>
                        <a class="img-box lightbox" href="../images/products/project-1.jpg">
                            <img src="../images/products/project-1.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" href="../images/products/project-1.jpg">
                            <img src="../images/products/project-2.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" href="../images/products/project-1.jpg">
                            <img src="../images/products/project-3.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" href="../images/products/project-1.jpg">
                            <img src="../images/products/project-4.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" href="../images/products/project-1.jpg">
                            <img src="../images/products/project-5.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" href="../images/products/project-1.jpg">
                            <img src="../images/products/project-6.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" href="../images/products/project-1.jpg">
                            <img src="../images/products/project-7.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" href="../images/products/project-1.jpg">
                            <img src="../images/products/project-8.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" href="../images/products/project-1.jpg">
                            <img src="../images/products/project-9.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox" href="../images/products/project-1.jpg">
                            <img src="../images/products/project-10.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-empty no-paddings">
        <div class="content">
            <div class="flexslider carousel gallery nav-inner" data-options="minWidth:150,numItems:5,itemMargin:0">
                <ul class="slides">
                    <li>
                        <a class="img-box img-scale-up lightbox grayscale row-10" href="../images/products/project-1.jpg" data-lightbox-anima="show-scale">
                            <img src="../images/products/project-1.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box img-scale-up lightbox grayscale row-10" href="../images/products/project-2.jpg" data-lightbox-anima="show-scale">
                            <img src="../images/products/project-2.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box img-scale-up lightbox grayscale row-10" href="../images/products/project-3.jpg" data-lightbox-anima="show-scale">
                            <img src="../images/products/project-3.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box img-scale-up lightbox grayscale row-10" href="../images/products/project-4.jpg" data-lightbox-anima="show-scale">
                            <img src="../images/products/project-4.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box img-scale-up lightbox grayscale row-10" href="../images/products/project-5.jpg" data-lightbox-anima="show-scale">
                            <img src="../images/products/project-5.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box img-scale-up lightbox grayscale row-10" href="../images/products/project-6.jpg" data-lightbox-anima="show-scale">
                            <img src="../images/products/project-6.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a class="img-box img-scale-up lightbox grayscale row-10" href="../images/products/project-7.jpg" data-lightbox-anima="show-scale">
                            <img src="../images/products/project-7.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-bg-color">
        <div class="container content">
            <div class="row">
                <div class="col-md-6 col-center text-center">
                    <div class="title-base">
                        <hr />
                        <h2>I'M ELON PETTER</h2>
                        <p>Animad minim veniam quis nostrud exercitation</p>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor labore et dolore magna aliqua.
                        Ut enimad minim veniam quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </p>
                    <hr class="space m" />
                    <img src="../images/products/sign.png" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="section-bg-image parallax-window" data-natural-height="600" data-natural-width="1920" data-parallax="scroll" data-image-src="../images/products/long-8.jpg">
        <div class="container content">
            <div class="row">
                <div class="col-md-6">
                    <div class="title-base text-left">
                        <hr />
                        <h2>Stay Updated</h2>
                        <p></p>
                    </div>
                    <p>
                        Totam quos, in aperiam elementum, scelerisque minima orci atque ipsa mollis corporis dolores eius.
                        Convallis delectus dictum! Arcu scelerisque, pulvinar? Quam hymenaeos rerum, provident accumsan.
                    </p>
                    <hr class="space m" />
                    <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax" method="post" data-email="federico@pixor.it">
                        <input id="email" name="email" placeholder="email" type="email" class="form-control form-value" required>
                        <hr class="space m" />
                        <button class="anima-button circle-button btn btn-sm " type="submit"><i class="im-speach-bubble13"></i>Join now</button>
                        <div class="success-box">
                            <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                        </div>
                        <div class="error-box">
                            <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="section-two-blocks">
        <div class="row">
            <div class="col-md-6">
                <div class="google-map" data-skin="gray" data-address="London" data-marker="http://templates.framework-y.com/elon/images/marker-map.png" style="height:540px"></div>
            </div>
            <div class="col-md-6">
                <div class="content">
                    <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax" method="post" data-email="federico@pixor.it">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Name</p>
                                <input id="name" name="name" placeholder="..." type="text" class="form-control form-value" required>
                            </div>
                            <div class="col-md-6">
                                <p>Email</p>
                                <input id="email-2" name="email" placeholder="" type="email" class="form-control form-value" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr class="space xs" />
                                <p>Phone</p>
                                <input id="phone" name="phone" placeholder="" type="text" class="form-control form-value">
                                <hr class="space xs" />
                                <p>Messagge</p>
                                <textarea id="messagge" name="messagge" class="form-control form-value" required></textarea>
                                <hr class="space s" />
                                <button class="circle-button btn-sm btn" type="submit"><i class="fa fa-envelope-o"></i>Send messagge</button>
                            </div>
                        </div>
                        <div class="success-box">
                            <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                        </div>
                        <div class="error-box">
                            <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @{
        Html.RenderPartial("~/Views/Common/_Footer.cshtml");
    }
}
@section StyleSection
{
    <link rel="stylesheet" href="../css/style.css">
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/content-box.css">
    <link rel="stylesheet" href="../css/image-box.css">
    <link rel="stylesheet" href="../css/animations.css">
    <link rel="stylesheet" href='../css/components.css'>
    <link rel="stylesheet" href='../css/flexslider.css'>
    <link rel="stylesheet" href='../css/magnific-popup.css'>
    <link rel="stylesheet" href='../css/contact-form.css'>
    <link href="~/css/jquery.flipster.min.css" rel="stylesheet" />
    <link rel="stylesheet" href='../css/social.stream.css'>
<link href="~/css/line-icons.min.css" rel="stylesheet" />
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/skin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

}

@section ScriptsSection {
    <script type="text/javascript" src="~/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/imagesloaded.min.js"></script>
    <script type="text/javascript" src="../scripts/parallax.min.js"></script>
    <script type="text/javascript" src='../scripts/jquery.flexslider-min.js'></script>
    <script type="text/javascript" async src='../scripts/isotope.min.js'></script>
    <script type="text/javascript" async src='../scripts/contact-form.js'></script>
    <script type="text/javascript" async src='../scripts/jquery.progress-counter.js'></script>
    <script type="text/javascript" async src='../scripts/jquery.tab-accordion.js'></script>
    <script type="text/javascript" async src="../scripts/bootstrap.popover.min.js"></script>
    <script type="text/javascript" async src="../scripts/jquery.magnific-popup.min.js"></script>
    <script src='../scripts/social.stream.min.js'></script>
    @*<script src='../scripts/jquery.slimscroll.min.js'></script>*@
<script src='https://maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script type="text/javascript" src='../scripts/smooth.scroll.min.js'></script>
    <script type="text/javascript" src="~/scripts/script.js"></script>
<script src="~/scripts/jquery.flipster.min.js"></script>
<script src="~/scripts/google.maps.min.js"></script>

}